<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="css/feedback.css">
  <script src="https://kit.fontawesome.com/d7be8fed92.js" crossorigin="anonymous"></script>
  <title>Give Feedback</title>
</head>

<body id="home">
  <div class="messageDiv">

   

  </div>

    <main class="container">

        <section class="container-tophalf">

            <!--============== Navigation Bar ===================== -->


            <header class="container-nav">
                <img src="img/logo-big.png" alt="logo" class="logo">

                <nav>
                    <ul class="nav-bar">
                      <li class="nav-links"> <a href="/dashboard" class="nav-items">Home</a> </li>
                      <li class="nav-links"> <a href="/connect" class="nav-items">Connect Account</a> </li>
                        <li class="nav-links"> <a href="/load" class="nav-items">Load Money</a> </li>
                        <li class="nav-links"> <a href="/payment" class="nav-items">Payment</a> </li>
                          <li class="nav-links"> <a href="/transactions" class="nav-items">Transactions and Graph</a> </li>

                    </ul>
                </nav>

              <a href="/" class="login"><button class="btn">Logout</button> </a>
            </header>
            <div class="fdbk">
              <br><br>
                <h1> YOUR FEEDBACK</h1><br>
                <h3>We would like your feedback to improve our website.</h3><br>
                <h3> Rate our website?</h3>
            </div>
            <form action="/feedback" method="post">
              <div class="rating">
                  <input class="rateStar" type="radio" name="stars" value="5" id="star-1">
                  <label for="star-1">

                  </label>
                  <input type="radio" class="rateStar" name="stars" value="4" id="star-2">
                  <label for="star-2">

                  </label>
                  <input type="radio" class="rateStar" name="stars" value="3" id="star-3">
                  <label for="star-3">


                  </label>
                  <input type="radio" class="rateStar" name="stars" value="2" id="star-4">
                  <label for="star-4">


                  </label>
                  <input type="radio" class="rateStar" name="stars" value="1" id="star-5">
                  <label for="star-5">


                  </label>

              </div>
              <div class="msg">
                  <textarea name="feedback" rows="10" cols="60" placeholder="Provide your feedback here."></textarea><br>
                  <input type="submit" class="btn" value="Submit">
              </div>

            </form>
            </section>


        </main>
    </body>
</html>
